
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --font-semi: 600;
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    --cc-vibrantBlue: #3498db;
    --cc-freshGreen: #2ecc71;
    --cc-BoldRed: #e74c3c;
    --cc-lightGray: #f5f5f5;
    --cc-darkGray: #2c3e50;
    --cc-darkBlue: #2980b9;
    --cc-darkerGray: #34495e;
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    --z-back: -10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}


body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/*===== CLASS CSS ===== */
.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}

.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo img{
    width: 5rem;
}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/*Active menu*/
.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
    right: 0;
}

/*===== HOME =====*/
.home {
    position: relative;
    row-gap: 5rem;
    padding: 4rem 0 5rem;
    display: flex;
    justify-content: space-between;
}

.home__data {
    align-self: center;
}

.home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color {
    color: var(--first-color);
}

.home__social {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.home__social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}

.image_hero_section img{
    width: 25rem;
}

/*BUTTONS*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: all .3s;
}

.button:hover {
    box-shadow: rgba(17, 17, 26, 0.3) 0px 8px 24px, rgba(17, 17, 26, 0.3) 0px 16px 56px, rgba(17, 17, 26, 0.3) 0px 24px 80px;
    background-color: var(--second-color);
}

/* ===== ABOUT =====*/
.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-bottom: var(--mb-2);
}

.about__img {
    justify-self: center;
}

.about__img img {
    width: 200px;
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.792);
}

/* ===== SKILLS =====*/
.skills__container {
    row-gap: 2rem;
    text-align: center;
}

.skills__subtitle {
    margin-bottom: var(--mb-2);
}

.skills__text {
    margin-bottom: var(--mb-4);
}

.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    margin-bottom: var(--mb-4);
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: var(--first-color);
}

.skills__names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--first-color);
    height: .25rem;
    border-radius: .5rem;
    z-index: var(--z-back);
}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 95%;
}

.skills__js {
    width: 85%;
}

.skills__ux {
    width: 80%;
}

.skills__img {
    border-radius: .5rem;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.792);
    margin-left: 2rem;
}

/* ===== WORK =====*/
.work__container {
    row-gap: 2rem;
}

.work__img {
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.792);
    border-radius: .5rem;
    overflow: hidden;
}

.work__img img {
    transition: 1s;
}

.work__img img:hover {
    transform: scale(1.1);
}

/* ===== CONTACT =====*/
/* ================ Contact US  ======================= */


.container_3 {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--cc-darkBlue);
  }
  
  p {
    text-align: center;
    color: var(--cc-darkGray);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: var(--cc-darkGray);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cc-darkGray);
    border-radius: 3px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cc-darkGray);
    border-radius: 3px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid var(--cc-darkGray);
    border-radius: 3px;
  }
  
  .checkbox {
    display: flex;
    align-items: center;
  }
  
  .checkbox input[type="checkbox"] {
    margin-right: 10px;
  }
  
  button {
    background-color: var(--cc-vibrantBlue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: var(--cc-darkBlue);
  }

/* ====================== FOOTER ======================== */
footer{
    background: var(--cc-lightGray);
    margin: 5rem 0rem;
    height: 18rem;
}
  .top_footer{
    background: var(--cc-lightGray);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top_footer ul li{
    list-style: none;
  }
  .top_footer ul li a{
    color: black;
    text-decoration: none;
  }
  .footer_logo_img img{
    width: 5rem;
    margin-left: 5rem;
  }
  .menu_list_footer{
    display: flex;
    width: 35rem;
    justify-content: space-between;
  }

  .menu_social-footer{
    display: flex;
    width: 10rem;
    justify-content: space-between;
    margin-right: 5rem;
  }

  .down_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .down_footer p{
    margin-left: 5rem;
  }

  .menu_list_footerDown{
    display: flex;
    gap: 20px;
    margin-right:5rem;
  }
  
  .menu_list_footerDown li{
list-style-type: none;
  }

  .menu_list_footerDown li a{
color: black;
text-decoration: none;    
  }

  .copyright_footer{
    text-align: center;
    margin-top: 3rem;
  }

